.navbar {
    background-color: lightslategray;
    font-size: 1em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    padding: 8px 5px 8px 5px;
}

.navbar a {
    text-decoration: none;
    color: inherit;
}

.navbar-brand {
    font-size: 1.2em;
    font-weight: 600;
}

.navbar .navbar-brand:hover{
    color: #fff;
}

.navbar .navbar-nav .nav-link:hover {
    background-color: darkgray;
    color: #fff;
    transition: 0.3s
  }

.navbar-item {
    font-variant: small-caps;
    margin-left: 30px;
}

.body-content {
    padding-left: 5em;
    padding-right: 5em;
    padding-top: 3em;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.carousel-caption h5, p{
    color: black;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}